*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

nav #menu li{
    display: inline-block;
    padding: 15px 8px;
    border: 2px solid black;
}
nav{
    text-align: center;
}

main, header h1 {
    border: 2px solid black;
    padding: 30px;
    margin: 5px 30px 0px 30px;
}

h2{
    padding: 10px;
    text-align: center;
}

h3{
    padding: 30px 0px 10px 0px;
}

.image{
    text-align: center;
}