div:hover{
    border: 2px solid black;
}
#corPrimaria{
    background-color: red;
}

#corSecundaria{
    background-color: green;
}

#corComplementar{
    background-color: purple;
    height: 3em;
}

#corEscura{
    background-color: darkblue;
}

#corClara{ 
    background-color: aquamarine;
}

h3{
    color: yellowgreen;
}

#corPrimaria h3,
#corComplementar h3,
#corClara h3{
    font-style: italic;
}